<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSUserNotificationsUsageDescription</key>
	<string>LiquidSky uses notifications to keep you updated on new followers, likes, reposts, and replies.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>processing</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.acxtrilla.horizon.refresh</string>
		<string>com.acxtrilla.horizon.processing</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations_iPad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon2</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon2</string>
			</dict>
			<key>AppIcon3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon3</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon3</string>
			</dict>
			<key>AppIcon4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon4</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon4</string>
			</dict>
			<key>AppIcon5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon5</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIcon5</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
