<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIcons</key>
  <dict>
    <key>CFBundlePrimaryIcon</key>
    <dict>
      <key>CFBundleIconName</key>
      <string>AppIcon</string>
    </dict>
    <key>CFBundleAlternateIcons</key>
    <dict>
      <key>AppIcon2</key>
      <dict>
        <key>CFBundleIconName</key>
        <string>AppIcon2</string>
      </dict>
      <key>AppIcon3</key>
      <dict>
        <key>CFBundleIconName</key>
        <string>AppIcon3</string>
      </dict>
      <key>AppIcon4</key>
      <dict>
        <key>CFBundleIconName</key>
        <string>AppIcon4</string>
      </dict>
      <key>AppIcon5</key>
      <dict>
        <key>CFBundleIconName</key>
        <string>AppIcon5</string>
      </dict>
    </dict>
  </dict>
</dict>
</plist>
